*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$black:black;
$white:white;
$nav-background:#001d3d;
$text-color:#ffc300;
$background:#003566;
$turkos: turquoise;
ul,li,a{
    list-style:none;
    text-decoration: none;
    border-bottom: none;
}

    
.name{
    color: rgb(21, 90, 83)!important;
    font-weight: bold;
}
.first-header{
    .row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem;
        background-color: wheat;
        a{
            color: $black;
        }
    }
    .name{
        font-size: 1.5rem;
        margin-left: 1rem;
    }
    .left{
        display: flex;
        align-items: center;
        gap:3rem;
        .columns{
            display: flex;
            align-items: center;
            gap: 1.5rem;
            .temp{
                font-size: 1.25rem;
            }
        }
        .climat{
            display: flex;
            gap: .25rem;
        }
        .icon{
            color: lightsalmon!important;
        }
        .location{
        }
        .capital{
            
            font-weight: bold;
        }
    }
    .right{
        display: flex;
        gap: 2rem;
        margin-right: 1.5rem;
        a{
            padding: .5rem;
            background-color: $text-color;
            border-radius: 1rem;
            z-index: 5;
        
        }

    }
    nav{
        background-color: $white;
    }
}
.mini-section{
    .header{
        background: $background;
        
        .columns{
            display: flex;
            align-items: center;
        }
        
        nav{
            background-color: $nav-background;
            display: flex;
            align-items: center;
        }   
        a{
            color: $text-color;
            font-size: 1rem;
        }
        li{
            padding: 1.125rem;
            text-transform: uppercase;
            font-weight: bold;
            &:hover{
                background-color: rgba(245, 245, 245, 0.4);
                cursor: pointer;
            }
        }
        
    }
}

.circle::before{
    position: absolute;
    content: "";
    top: 9.5px;
    right: 8.5rem;
    height: 34px;
    width: 50px;
    z-index:1;
    border-radius: 1rem;
    background-color: $background;
    cursor: pointer;
}
.circle-two::before{
    right: 16.3rem;
}
.creat-a{
    cursor: not-allowed;
}
