*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$nav-background:#001d3d;
$text-color:#ffc300;
$background:#003566;

ul,li,a{
    list-style:none;
    text-decoration: none;
    border-bottom: none;
}
.header{
    background: $background;
    height: 100vh;
}
nav{
    background-color: $nav-background;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1.5rem;
    ul{
        display: flex;
        gap: 5rem;
    }
    a{
        color: $text-color;
        font-size: 1.5rem;
    }
}   